{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% if block.properties.label %}
    <label for="{{ block.properties.id }}"
        {{ include(template_from_string(attr.class(['form-label', block.properties.label.class]))) }}
        {{ include(template_from_string(attr.style(block.properties.label.style))) }}>{{ include(template_from_string(block.properties.label.value)) }}</label>
{% endif %}
<textarea {{ include(template_from_string(attr.id(block.properties.id))) }}
        {{ include(template_from_string(attr.name(block.properties.name))) }}
        rows="0"
        cols="0"
        {{ include(template_from_string(attr.data(block.properties.data))) }}
        {{ include(template_from_string(attr.class(['js-trumbowyg', 'form-control', block.properties.class]))) }}
        {{ include(template_from_string(attr.events(block.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                                        'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                                        'onkeydown', 'onblur']))) }}>{{ include(template_from_string(attr.value(block.properties.name, values, block.properties.value, false))) }}</textarea>
{% if block.properties.help %}
    <small>{{ __(block.properties.help)}}</small>
{% endif %}

{% if block.properties.options %}
    {% set defaultOptions = arrays(flextype.registry.get("plugins.trumbowyg.settings.blocks.InputEditorTrumbowyg.properties.options")).toArray() %}
    {% set blockOptions = arrays(block.properties.options).toArray() %}
    {% set options = arrays(defaultOptions).replace(blockOptions).toArray() %}
{% else %}
    {% set options = flextype.registry.get("plugins.trumbowyg.settings.blocks.InputEditorTrumbowyg.properties.options") %}
{% endif %}

<input type="hidden" 
        {{ attr.name(block.properties.name, '__trumbowyg_') }} 
        value="{{ block.properties.name }}">
<input type="hidden" 
        {{ attr.name(block.properties.name, '__trumbowyg_options_') }}
        value='{{ flextype.serializers.json.encode(options) }}'>
